/* Keep only general/shared styles here */
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
}